.info__box {
  display: flex;
}
.info__text {
  position: relative;
  width: 50%;
}
.info__text h3 {
  margin-bottom: 30vh;
  font-size: 3.1rem;
  line-height: 1.3;
  font-family: var(--main-font);
}
.info__desc {
  width: 65%;
}
.info__desc span {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.info__desc p {
  margin-bottom: 30px;
  font-family: var(--sub-font);
  font-weight: 300;
  font-size: 1.15rem;
  text-align: justify;
}
.info__desc p:last-child {
  margin-bottom: 0;
}
.info__skill {
  position: relative;
  width: 50%;
  display: flex;
  align-items: flex-end;
}
.info__skill strong {
  font-size: 3.1rem;
  text-align: right;
}