@charset "utf8";

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {margin: 0; padding: 0;}

body {position: relative; font-family: 'NEXON Lv1 Gothic OTF Light';}

li {list-style: none;}

a {text-decoration: none; color: #666;}

.top {width: 50px; height: 50px; position: fixed; right: 30px; bottom: 30px;}
.top a {display: block; background: #000; color: #fff; border-radius: 100%; text-align: center; line-height: 50px; font-size: 16px;}
.javascript {height: 100vh;
  display: flex; align-items: center; justify-content: center; flex-direction: column;
  border: 10px solid rgba(0, 102, 255, 0.7); border-radius: 10px; box-sizing: border-box;
  position: relative;
}
.javascript::after {
  content: ''; width: 100%; height: 100%;
  border: 10px solid rgba(0, 102, 255, 0.5); box-sizing: border-box;
  position: absolute; left: 0; top: 0; z-index: -1;
}
.javascript h1 {font-size: 7vw; font-weight: 600; color: rgba(0, 102, 255, 0.5);}
.javascript .menu {text-align: center;}
.javascript .menu li {display: inline-block; margin: 15px 10px;}
.javascript .menu li a {border: 5px dotted rgba(0, 102, 255, 0.5);
  border-radius: 30px;
  font-size: 1.05vw; padding: 6px 15px; line-height: 50px;
}
.javascript .menu li a:hover {background: #0066ff; color: #fff;}

#header {padding: 50px; border-bottom: 2px dotted #dbdbdb;}
#header h1 {margin-bottom: 25px;}
#header h1 a {font-size: 50px; color: #77aeff; line-height: 25px;}
#header nav li {display: inline-block; margin-bottom: 10px;}
#header nav li a {display: block; padding: 10px 20px; font-size: 20px; border: 1px solid #000; border-radius: 50px;}
#header nav li a.active {background: #000; color: #fff;}

#main {padding: 50px;}
#main .jslist {padding-bottom: 50px; border-bottom: 2px dotted #dbdbdb;}
#main .jslist a {font-size: 18px; line-height: 35px; color: #000; font-weight: 500;}

.solution {padding: 50px 0; border-bottom: 2px dotted #dbdbdb;}
.solution a {display: inline-block; padding: 5px 10px; font-size: 18px; color: #fff; background: #000; border-radius: 50px;}

/* script */
.script {
    padding: 40px 0;
}
.script .sample h3 {
  margin-top: 100px;
    background: #f2f2f2;
    font-size: 16px;
    padding: 15px 20px 10px 20px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #e6e6e6;
    font-weight: 500;
}

.script .sample .table {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    padding: 20px;
}

.script .sample .table table {
    width: 100%;
    border: 1px solid #e6e6e6;
    text-align: center;
    vertical-align: middle;
}

.script .sample .table table th {
    padding: 10px 15px;
    font-weight: normal;
}

.script .sample .table table td {
    padding: 10px 15px;
    border: 1px solid #e6e6e6;
}

/* result */
.result h4 {
  background: #f2f2f2;
  padding: 10px 20px;
  font-weight: normal;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.result>ul {
  background: #272822;
  padding: 20px;
  color: #fff;
  border-radius: 0 0 5px 5px;
  font-size: 16px;
  line-height: 1.4;
  display: none;
}

.result.active h4 {
  border-radius: 5px 5px 0 0;
}

.result.active>ul {
  display: block;
  border-radius: 0 0 5px 5px;
}

