h1 {
    color: coral;
}
h3 {
    background-color: cyan;
}
.menu {
    text-decoration: none;
    padding: 5px 20px;
}
button {
    width: 250px;
    height: 50px;
    display: block;
}
.button {

    background-color: bisque;
}
.submit {
    background-color: blue;
}
.reset {
    background-color: blueviolet;
}
li.menu_list {
    list-style: none;
}
.menu_list a{
    padding: 0;
    margin: 0;
}