h1 {
    color: coral;
}
h3 {
    background-color: cyan;
}
.menu {
    text-decoration: none;
    padding: 5px 20px;
}
button {
    width: 250px;
    height: 50px;
}
.button {

    background-color: bisque;
}
.submit {
    background-color: blue;
}
.reset {
    background-color: blueviolet;
}
li.menu_list {
    list-style: none;
    display: inline-block;
}
* {
    margin: 0;
    padding: 0;
}
.avatar-img {
    width: 180px;
    /* border-radius: 100%; */
    padding: 10px 20px;
}
/* .avatar-img:nth-child(2) {
    border-radius: 0;
    } */
.avatar-img-circle {
    width: 180px;
    border-radius: 100%;
    padding: 10px 20px;
}
.avatar {
    width: 200px;
    height: 240px;
    padding: 10px;
    border: 1px solid #777;
    border-radius: 8px;
    text-align: center;
}
.avatar-list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}