@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800;900&display=swap');
@import url("https://websfont.github.io/gmarket/gmarket.css");

.sansita {
  font-family: "Sansita";
}
.gmarket {
  font-family: "gmarket";
}